---
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<div
  class={`${className || ""} transition opacity-100`}
  class-observer-in="opacity-100"
  class-observer-out="opacity-0"
>
  <slot />
</div>
