---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import Webauthn from "../components/Webauthn.astro";

const challenge = new Uint8Array(16);
crypto.getRandomValues(challenge);

import { db, Auth, and, lte, eq } from "astro:db";
/*await db
  .delete(Auth)
  .where(
    and(
      lte(Auth.creation_date, new Date(Date.now() - 1000 * 60 * 1)),
      eq(Auth.credential, "")
    )
  );
await db.insert(Auth).values({
  creation_date: new Date(Date.now()),
  challenge: JSON.stringify(Array.from(challenge)),
});*/
---

<Layout title="Login" description="Authentification in progress...">
  <div class="container">
    <div class="content flex column">
      <h1>Login</h1>
      <p>Authentification in progress ...</p>
      <Webauthn challenge={JSON.stringify(Array.from(challenge))} />
    </div>
  </div>
</Layout>
