---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import Webauthn from "../components/Webauthn.astro";

const challenge = new Uint8Array(16);
crypto.getRandomValues(challenge);
---

<Layout title="Login" description="Login in progress...">
  <div class="container">
    <div class="content flex column">
      <h1>Login in progress</h1>
      <p>Challenge: {JSON.stringify(Array.from(challenge))}</p>
      <Webauthn challenge={JSON.stringify(Array.from(challenge))} />
    </div>
  </div>
</Layout>
